.logo{
    background-color: #7d0303;
    height: 200px;
    width: 100%;
    
}
.menu{
    background-color: #037d28;
    height: 250px;
    width: 100%;
}
.mnn{
    background-color: #24beed;
    height: 250px;
    width: 100%;
}
.pss{
    background-color: #ebfb73;
    height: 80px;
    width: 100%;
}
